	
<div class="jumbotron intro-page">
	<div class="content-overlay">
	</div>

	<div class='content'>
	  <h2>Your Furniture is Old</h2>
	  <p>Ours is older.</p>
	  <p>
	  <%=link_to("Check our products",{:action => 'multi'},{:class => "btn btn-primary", :role=>"button"})%>
	</div>
</div>

<div class="container select-categories">
	<div class="row">
		 <% @category_collection_hash.each do |key,cat_list| %>
		<div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4 category-options">
			<div class="stretchy-wrapper">
				<h3><%=key%></h3>
			</div>
		</div>
	<% end %>
	</div>
</div>

