<h3>One Furniture Item</h3>
<div>
<img src="http://lorempixel.com/400/300/city/">
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, nisi?</p>
<p>Price: $xxxx</p>
<p>category</p>